.jumbotron-fluid{
    background: #d7edf2;
}

h1 {
    color: #4a4949;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    
}

h3{
  color: white;
  font-size: 30px;
}

h2{
    color: #4a4949;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 31px;
    text-align: center;
    margin-bottom: 20px;
}

.box1{
    background: #4a4949;
    margin-top: -20px;
    
}

.box2{
    background: white;
    padding: 33px;
    border-top: 4px solid;
    border-color: #d7edf2;
    
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #d7edf2;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #d7edf2;
  text-decoration: none;
}

a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: white;
}

.album {
  font-size: 40px;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 20px;
  
}

.border-bottom-0{
  border-color: white;
}
.album:hover {
  color: #d7edf2 !important;
  text-decoration: none;
}

.band {
  padding:10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 27px;
  
}

.imagine{
  font-size: 21px;
  padding:10px;
  cursor: pointer;
  
}

.imagine:hover{
  color: #d7edf2 !important;
  text-decoration: none;
}

.band:hover {
  color: #d7edf2 !important;
  text-decoration: none;
}


.img-fluid{
  margin: 20px;
  border: solid;
  border-color: #d7edf2;
}

.image-header{
 
  width: 15%;
  height: 100%;
  position: relative;
  top: 70%;
  left: 42%; 
}

.modal-title{
    color: #4a4949;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: center;
}

.btn{
  background-color: #d7edf2;

}
.btn:hover{
  background-color:#4a4949;
  color: white;
}

.button-grijs {
  padding-top: 20px;
}

.spotify{
  padding: 20px;
  position: left;
}

.streep{
  border-bottom: 3px solid;
  width: 220px; 
  margin-top: 20px;
  border-color: #d7edf2;
  
 }

 .footer{
  background: #d7edf2;
  padding: 20px;
  text-align: right;
  color: white;
  font-size: 15px;
  
 }



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  a{
    
     font-size: 30px;
     color: white;
   }

   h1 {
    color: #4a4949;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 44px;
    text-align: center;
  }

  h2{
    color: #4a4949;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
}

   
   .album {
     font-size: 70px;
     padding: 10px;
     padding-top: 80px;
     padding-bottom: 20px;
     text-decoration: none;
     cursor: pointer;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 60px;
     
   }
  
   .streep{
    border-bottom: 3px solid;
    width: 500px; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
   }
  
   .band {
    padding:52px;
    cursor: pointer;
    font-weight: 300;
    font-size: 50px;
    
  }
  
  .imagine{
    font-size: 40px;
    padding:10px;
    cursor: pointer;
    
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }